# FIT9136 Week 2 Lab Activities

<small>\#AtomicDataTypes \#Operations \#Variables \#Documentation \#SystemIO \#DataTypeConversion</small>

In [1]:
print('Hello Human! Welcome to the \u001b[40m\033[1;33mPython Universe\u001b[0m.')

Hello Human! Welcome to the Python Universe.

Welcome to the world of Python, where **everything is an object**. The objects in Python are similar to the human world. They have their unique features (**values/variables**) and actions (**methods/operations**). Most importantly, every object in Python universe has an **identity**. Now let's explore this amazing world.

## 1. Atomic Data types
Now, let's meet the three primary elements(**Atomic Datatype**) in Python.

In [2]:
type(1), type(0.1), type(True)

(int, float, bool)

They are integer, float and boolean. From the example above:
- `1` is an integer, 
- `0.1` is a float, 
- `True` is a boolean, which can represent the result of a logical condition.

And of course, they have their identities.<br>To see their identities, we will use the function named `id()`, which will give us `the physical memory location.`

In [3]:
print('id of integer 1 is', id(1))

id of integer 1 is 140725239490352

In [4]:
print('id of float 0.1 is', id(0.1))

id of float 0.1 is 3062141957360

In [5]:
print('id of boolean True is', id(True))

id of boolean True is 140725239207760

In [6]:
id(True)

140725239207760

Now, let's see what they can do.

There are three main operations in Python, namely:
1. arithmetic operation
2. comparison operation
3. logical operation

### 1.1 Arithmetic Operations

Arithmetic operation gives us a **numeric value** from various mathemetical calculations between the numeric elements in the equation.

In [7]:
1 + 1 # arithmetic operations between integers will give you an integer

2

In [8]:
1. + 1 # arithmetic operations between integer and float will give you what?

2.0

In [10]:
True + True # How about arithmetic operations between booleans?

2

In [18]:
False + True

1

In [19]:
False + False

0

More about arithmetic operations, please have a look at the [documentation](https://www.w3schools.com/python/python_operators.asp).

### 1.2 Comparison operations

Comparison operations give us **boolean** values by comparing the values on the left side and right side.

In [11]:
1 < 1 # is 1 smaller than 1?

False

In [12]:
1. == 1. # is 1.0 equals 1.0

True

In [20]:
1. >= 1 # is 1.0 larger than or equals 1?

True

In [14]:
True == 1 # What is the numerical value of True?

True

In [17]:
False == 0

True

It might look ridiculous at the moment. **Why do we need to compare values here?**

<font color='red'>**Answer:**</font>
```
Your answer here
```

It seems that **Comparison Operation** is flawless, but it is not. It does have [Limitation](https://docs.python.org/3.3/tutorial/floatingpoint.html). Let's have a look at below example:

`1.1 + 2.2 == 3.3` is it true?

In [21]:
1.1 + 2.2 == 3.3

False

Apart from numerical comparison operators, there is another operator called `is`. It compares the **id** of two objects. What will the following operations give us?**

In [22]:
1 is 1.0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-22-2ebf4c947f31>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is 1.0

False

In [23]:
0 is 0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-23-c9bd0d8624de>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  0 is 0

True

In [24]:
True is 1

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-24-0acca4945321>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  True is 1

False

The results could be explained by checking the ids of the variables.

In [25]:
id(1), id(1.0)

(140725239490352, 3062164873296)

In [26]:
id(True), id(1)

(140725239207760, 140725239490352)

### 1.3 Logical operations

Let's have a look at the logical tables:


<table>
<tr>
<td>
<table>
<tr><td><h5><b><font color='red'>and</font></b></h5></td><td><b>True</b></td><td><b>False</b></td></tr>
<tr><td><b>True</b></td><td>True</td><td>False</td></tr>
<tr><td><b>False</b></td><td>False</td><td>False</td></tr>
</table>
</td>
<td> </td>
<td>
<table>
<tr><td><h5><b><font color='red'>or</font></b></h5></td><td><b>True</b></td><td><b>False</b></td></tr>
<tr><td><b>True</b></td><td>True</td><td>True</td></tr>
<tr><td><b>False</b></td><td>True</td><td>False</td></tr>
</table>
</td>
</tr>
</table>

We can see: 
1. `False` will be returned if any one of the conditions is `False` under the **<font color='red'>and</font>** condition.
2. `True` will be returned if any one of the conditions is `True` under **<font color='red'>or</font>** condition.

Let's try to think what will be returned in the following conditions. Are they `True` or `False`?

In [27]:
True and True and False

False

In [28]:
True or False and True

True

In [29]:
True and False or True

True

The evaluation of conditions are actually considered **from left to right**. (Conditions within the innermost brackets are considered first). However, [`and` has a higher precedence than `or`](https://docs.python.org/3/reference/expressions.html#operator-precedence).

1. `True and True and False` â†’ `(True and True) and False` â†’ `True and False` â†’ `False`
2. `True or False and True` â†’ `True or (False and True)` â†’ `True or False` â†’ `True`
3. <font color='red'>**`Your answer here`**</font>

In [30]:
from IPython.display import Image
print('Image source: https://gifer.com/en/gifs/pacman')
display(Image(url='https://i.gifer.com/origin/12/12d043d53cb8adeb6bd5dca9df506278_w200.gif'))
print('Logical conditions are evaluated from left to right.')

Image source: https://gifer.com/en/gifs/pacman

Logical conditions are evaluated from left to right.

Here are some other practices, are they `True` or `False`?

In [32]:
True and (True or False) and True

True

In [33]:
True or False and False

True

In [34]:
False or False or True

True

You think that's it for the logical operators? Then, you might be a bit too naive. ðŸ˜‚ There's another operator called `not`. Well, it changes `True` to `False` and vice versa. More importantly, it is always evaluated before `and` and `or` on the same logical level. Let's try it!

In [36]:
True or False and not False

True

In [37]:
not (True or False)

False

In [38]:
True and not False or False

True

How it works?
1. `True or False and not False` â†’ `True or (False or (not False))` â†’ `True or True` â†’ `True`
2. `not (True or False)` â†’ `not (True)` â†’ `False`
3. <font color='red'>**`Your answer here`**</font>

Next comes the tricky part. Actually, every data types have their own `boolean` values. `False` is always associated with the concept of **nothing** or `None`. For example, boolean value of `0` is `False`. We can retrieve the boolean value of any built-in objects by using `bool()` function.

In [39]:
bool(0)

False

In [40]:
bool(0.0)

False

Now, let's integrate this concept to the logical operators. Consider the following examples, let's guess the results!

In [41]:
0 and 5 and False

0

In [42]:
False or 5 or 0.0

5

In [43]:
0 or 5 and 10 or 2

10

Guess them right?

From the examples, we can see:
1. under `or` conditions, it will return ?
2. under `and` conditions, it will return ?

Now, let's try more examples. Try to think what will be the results.

In [ ]:
4 and False or (0 and 5.5) or (3 and 0.0)

In [ ]:
10 and 5 and 3 and 1

In [ ]:
-4 < 5 and 10.5 + 3 or 4

```
* 4 and False or (0 and 5.5) or (3 and 0.0) 
    * (4 and False) or 0 or 0.0 
    * False or 0 or 0.0 
    * 0.0
* 10 and 5 and 3 and 1 
    * ? 
    * ? 
    * ?
* -4 < 5 and 10.5 + 3 or 4 
    * ? 
    * ? 
    * ?
```

Oh! By the way, there is an order between the three types of operators. The precedence is:

1. Arithmetic operator
2. Comparison operator
3. Logical opertor

## 2. Variables

Variable is a very important component in programming. **Not only in Python, but in programming.** Why is that though?

```
Your answer
```

However, how can we store the values in Python?

### 2.1 Variable assignment

It is simpler than you think, we just need a `=` operator.

In [ ]:
# Try to assign 1 to variable a_number
? = ?

In the example above, we have just created a new *variable* called `a_number` that stores `1` as the value. <br>Now, lets access the value of the variable.

In [ ]:
a_number

But to be honest, you are somehow curious of how it works, aren't you? 

Actually, `a_number` is not a value. It is a *pointer* instead. It points to where `1` is at in the memory. How to proof it? Let's compare the ids of `a_number` and `1`!

In [ ]:
id(a_number), id(1)

Now, we can see the ids of `a_number` and `1` are the same.

### 2.2 Variable naming

Naming a variable is an art, just like how your name is created. Do we want to name something meaningless? Give some respect to the variables! Try to give variables meaningful names. 

**Moreover, there are some formats we have to follow for variable names:**
1. camelCase
2. under_score

Let's try to name some variables.

In [ ]:
# name of a student

# name of a tutor

# youtube channel name

# product serial number

# sum of 2 numbers

There is another important rule of variable naming: 

**If the name is already used (to store another value or to define a function), then don't use it.**

For example, the built-in function names, such as `len`, `sorted`, `sum`.

## 3. Comments

Everyone thinks their codes are the best. I have never doubted that. However, wouldn't it be even better when other people, and yourself maybe, can understand your code easily too?

In [ ]:
# This is an inline-comment. It starts with a '#'
# An inline comment is used to explain the high-level logic of one or several lines of code.
# It can be placed on top of the code that it is explaining, or right after the code on the same line.

In [ ]:
"""
This is a comment block. It starts and ends with triple double-quotes.
Comment block can be used to describe the script, or act as docstring of functions or methods.
It describes the purpose, high-level logic and usage of scripts/functions/methods.
"""

## 4. System inputs and outputs

Simply speaking, `input()` and `print()`.

### 4.1 `input()` function

It prompts user input and return it as a `string` object.

However, how can we use input() function? Let's try `?` helper function.

In [ ]:
?input # What does it say?

Now, we know `input()` function takes one keyword argument `prompt`, which is the string that will be displayed when asking for user input.

In [ ]:
input('Please type in something. ')

### 4.2 `print()` function

Now, what about print() function?

In [ ]:
?print

Let's try it!

In [ ]:
print('something','else')

## 5. Type conversion between atomic datatypes

Since different datatypes have different operations and properties, sometimes we have to convert the datatype of variables.

### 5.1 Convert to integer
`int()`

In [ ]:
?int

In [ ]:
int(True), int('123'), int(12.34) # converts boolean, string and float to integer

### 5.2 Convert to float

`float()`

In [ ]:
?float

In [ ]:
float(True), float('123'), float(123) # converts boolean, string and integer to float

### 5.3 Convert to boolean

`bool()`

In [ ]:
?bool

In [ ]:
bool('123'), bool(123), bool(12.34) # converts string, integer and float to boolean

## 6. Small summary

Summing up, today we have learnt:
1. Atomic data types (integer, float, boolean)
2. Variables assignment and naming
3. Documentation/commenting (in-line, block)
4. System input and output (`input()`, `print()`)
5. Data type conversions between atomic data types and string


---


Now, let's integrate all the concepts together.

## In-class task 1: Km to Miles Conversion

Write a code to **get the user input** of a numeric value in kilometers and **print out** its value in miles.

The formula that converts between km and miles is as follows:

* $miles = km * 0.62137$

In [48]:
km = eval(input())
miles = km*0.62137
print("miles is:",miles)

2.5
miles is: 1.5534249999999998

## In-class task 2: Divisible?

Write a code that asks the user to type two integers separately(`num1` and `num2`) and then print out whether `num1` is divisible by `num2`. (Hint: We can use the concept of the remainder)

In [51]:
# Your implementation
num1 = eval(input("num1"))
num2 = eval(input("num2"))
num1%num2

num180
num22

0

## Exercise

Now, try to add comments in the code.

*You only need to use the techniques learnt in this notebook to complete the tasks*

### Task A: Temperature conversion

Write a code that asks the user to type a number as the temperature in the Kelvin scale and then print out the temperature in the Fahrenheit scale.

The conversion equation is as follows:

* $Fahrenheit = (Kelvin âˆ’ 273.15) Ã— \frac{9}{5} + 32$

In [55]:
kelvin  = eval(input("enter the kelvin:"))
fahrenheit = (kelvin - 273.15)*9/5 + 32
print("fahrenheit is ",fahrenheit)

enter the kelvin:78
fahrenheit is  -319.27

### Task B: Is that a right-angled triangle?

Write a code that asks the user to type three numbers separately, which are the length of the sides of the triangles, respectively. And print out whether the triangle is right-angled or not. (Hint: Pythagoras theorem and logical conditions)

In [70]:
# Your implementation
a = eval(input("a"))
b = eval(input("b"))
c = eval(input("c"))
print("Whether the triangle is right-angled?",a**2 == b**2 + c**2 or b**2 == a**2+c**2 or c**2 == a**2+b**2)

a2
b4
c6
Whether the triangle is right-angled? False

### Task C: Logic

Solve the following logical expressions **with steps**.

```
1. 3.5 + 12 or True and False or 19 and 0
2. 0.0 == 0 and True and (False or 3)
3. 13 - 9 > 4 and 1 is 1
```

<font color='red'>**Answer**</font>
```
1. 3.5 + 12 or True and False or 19 and 0 â†’ ?
2. 0.0 == 0 and True and (False or 3) â†’ ?
3. 13 - 9 > 4 and 1 is 1 â†’ ?
```