# Week 4 Group Practical Activity

This is the place where you can do some group activities with your peers. Note that discussion in group activitities cannot be recorded, so make sure you make notes using markdown text or comment!

## Schedule:
*   1st minute or 2: say hello and introduce yourself to your group. [Please have your microphone on]
*   Then, navigate to the following question, and start to discuss and work togehter!
*   After 15 mins (spend 5mins for each task roughly), the breakout will be stopped, and instructors will go through them in the class.



### Objective
*   learn basic methods of str
*   basic for loop, if statement
*   container data type such as list, dict etc
*   list comprehension

# Contacts data
In the following, a string variable, contacts_str, contains a list of contacts in string. Each contact has 'name', 'organization', 'gender', 'home phone', and 'work phone' fields

In [1]:
contacts_str = [
 'Korry Walcar,Kwimbee,Female,4695919320,7546241389',
 'Michaeline Winkell,Rhyzio,Female,5136464746,5177050746',
 'Marabel Kernan,Skyble,Female,4083385919,8587870844',
 'Richard Gaggen,Jabberstorm,Male,8015030995,6056335625',
 'norean girone,Quatz,Female,8634529981,2698987672',
 'Maison Mildner,Agivu,Male,5424753436,7799223458',
 'rania jahndel,Demivee,female,4243467293,5029778464',
 'Meg Mackniely,Camido,Female,6903093091,6808260560',
 'Kaia Commander,Plambee,Female,8533385320,5389341932',
 'Celene Beggini,Brainbox,Female,4401153410,8609613281',
 'Friedrick Trace,Pixonyx,Male,9621904559,8656544513'
]

## Task 1 parsing each contact string to a dict with keys 'name', 'organization', 'gender', 'home phone' and 'work phone'

In [6]:
# Write your code here
a = contacts_str[0]
a = a.split(',')
a
new_dict = {}
for i in a:
    new_dict['name'] = a[0]
    new_dict['organization'] = a[1]
    new_dict['gender'] = a[2]
    new_dict['home phone'] = a[3]
    new_dict['work phone'] = a[4]
print(new_dict)

{'name': 'Korry Walcar', 'organization': 'Kwimbee', 'gender': 'Female', 'home phone': '4695919320', 'work phone': '7546241389'}

In [11]:
person_lists = []
for part_str in contacts_str:
    a = part_str.split(',')
    new_dict = {}
    for i in a:
        new_dict['name'] = a[0]
        new_dict['organization'] = a[1]
        new_dict['gender'] = a[2]
        new_dict['home phone'] = a[3]
        new_dict['work phone'] = a[4]
    person_lists.append(new_dict)
print(person_lists)

[{'name': 'Korry Walcar', 'organization': 'Kwimbee', 'gender': 'Female', 'home phone': '4695919320', 'work phone': '7546241389'}, {'name': 'Michaeline Winkell', 'organization': 'Rhyzio', 'gender': 'Female', 'home phone': '5136464746', 'work phone': '5177050746'}, {'name': 'Marabel Kernan', 'organization': 'Skyble', 'gender': 'Female', 'home phone': '4083385919', 'work phone': '8587870844'}, {'name': 'Richard Gaggen', 'organization': 'Jabberstorm', 'gender': 'Male', 'home phone': '8015030995', 'work phone': '6056335625'}, {'name': 'norean girone', 'organization': 'Quatz', 'gender': 'Female', 'home phone': '8634529981', 'work phone': '2698987672'}, {'name': 'Maison Mildner', 'organization': 'Agivu', 'gender': 'Male', 'home phone': '5424753436', 'work phone': '7799223458'}, {'name': 'rania jahndel', 'organization': 'Demivee', 'gender': 'female', 'home phone': '4243467293', 'work phone': '5029778464'}, {'name': 'Meg Mackniely', 'organization': 'Camido', 'gender': 'Female', 'home phone': '6903093091', 'work phone': '6808260560'}, {'name': 'Kaia Commander', 'organization': 'Plambee', 'gender': 'Female', 'home phone': '8533385320', 'work phone': '5389341932'}, {'name': 'Celene Beggini', 'organization': 'Brainbox', 'gender': 'Female', 'home phone': '4401153410', 'work phone': '8609613281'}, {'name': 'Friedrick Trace', 'organization': 'Pixonyx', 'gender': 'Male', 'home phone': '9621904559', 'work phone': '8656544513'}]

# Task 2 count the number of male and female respectively

In [10]:
# Write your code here
male_num = 0
female_num = 0
for i in person_lists:
    if i['gender'] == 'Male':
        male_num += 1
    else:
        female_num += 1
        
print("male count:{},female count:{}".format(male_num,female_num))

male count:3,female count:8

# Task 3 fix inconsistency in the name
issue: some of names are not capitalized.
using list comprehension

In [13]:
# Write your code here
[i['name'] for i in person_lists if i['name'].islower()]

['norean girone', 'rania jahndel']