# FIT9136 Algorithms and programming foundations in Python

# Week 8 Lab Activities: File Manipulation, Testing And Exception Handling, Python Library And Packages

Please place the following files under the same folder as this notebook:
- textfile.txt
- addresses.csv

## Part A. File Manipulation

### File Reading and Writing

Depending on the file type, we can use different functions or libraries to read from or write to a file.

#### 1. File in general

If the file content is just some random text which does not follow any specific formats, we can use the `open()` function to open the file: 
- in 'r'(read) mode and use `read()`/`readlines()`/`readline()` methods to read the file content.
- in 'w'(write) or 'a'(append) mode and use `write()` methods to write string to file.

In [4]:
# apart from the file name, we can also specify whether we want to read/write/append, and the decoder used when reading the file
?open

**[File Object methods](https://docs.python.org/3/tutorial/inputoutput.html#methods-of-file-objects)**

- `read()` : reads the whole file as a single string
- `readline()`: returns the next line in the file. First time caliing will return us the first line, second time calling will return us the line after, and so on.
- `readlines()`: returns a list of string, where each item in the list is a line in the file.
- `write()`: write a string to the file opened.

In [5]:
with open('textfile.txt') as f:
    print(repr(f.read()))

"TV\n1. Spider-Man\n2. Spider-Man Strikes Back\n3. Spider-Man: The Dragon's Challenge\nFilm\n4. Spider-Man\n5. Spider-Man 2\n6. Spider-Man 3\n7. The Amazing Spider-Man\n8. The Amazing Spider-Man 2\n9. Spider-Man: Homecoming\n10. Spider-Man: Far From Home\n11. Spider-Man: No Way Home"

In [6]:
with open('textfile.txt') as f:
    line = f.readline()
    while line:
        print(repr(line))
        line = f.readline()

'TV\n'
'1. Spider-Man\n'
'2. Spider-Man Strikes Back\n'
"3. Spider-Man: The Dragon's Challenge\n"
'Film\n'
'4. Spider-Man\n'
'5. Spider-Man 2\n'
'6. Spider-Man 3\n'
'7. The Amazing Spider-Man\n'
'8. The Amazing Spider-Man 2\n'
'9. Spider-Man: Homecoming\n'
'10. Spider-Man: Far From Home\n'
'11. Spider-Man: No Way Home'

In [7]:
with open('textfile.txt') as f:
    print(repr(f.readlines()))

['TV\n', '1. Spider-Man\n', '2. Spider-Man Strikes Back\n', "3. Spider-Man: The Dragon's Challenge\n", 'Film\n', '4. Spider-Man\n', '5. Spider-Man 2\n', '6. Spider-Man 3\n', '7. The Amazing Spider-Man\n', '8. The Amazing Spider-Man 2\n', '9. Spider-Man: Homecoming\n', '10. Spider-Man: Far From Home\n', '11. Spider-Man: No Way Home']

In [8]:
with open('newfile.txt', 'w') as f:
    f.write('this is a new file.')

In [9]:
with open('newfile.txt', 'a') as f:
    f.write('\nthis is a line appended to the existing file.')

<font color='red'>**Task**</font>: Let's write a script that reads `textfile.txt`, extract every other line(The 1st, 3rd, 5th.. lines) and write those to a **new** file called `newfile.txt`.

In [11]:
with open('textfile.txt') as f:
    lines = [line for index, line in enumerate(f.readlines()) if index % 2 == 0]

with open('newfile.txt','w') as f:
    f.write(''.join(lines))

#### 2. Comma-Separated Values(CSV) File

CSV file can be read and written easily with the help of [**pandas**](https://pandas.pydata.org/docs/) library. We will explore the usage of pandas library further next week. 

***It is actually an ordinary text file that has a specific format.*** Each line of the file represents a row(a datum), and the columns are separated by commas. Let's have a look of `addresses.csv` file.

In [15]:
with open('addresses.csv') as f:
    print(f.read())

John,Doe,120 jefferson st.,Riverside, NJ, 08075
Jack,McGinnis,220 hobo Av.,Phila, PA,09119
"John ""Da Man""",Repici,120 Jefferson St.,Riverside, NJ,08075
Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD, 91234
,Blankman,,SomeTown, SD, 00298
"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,00123

We can see there are 6 data with 7 columns in the file. However, the column names, which normally are defined in the first line, are missing.

Below, let's see how we could use pandas to read csv files.

**I: Set up and import pandas**

In [13]:
# uncomment the line below to install pandas if it is not already installed
#!pip install pandas

In [1]:
import pandas as pd # import pandas and set pd as its alias

**II: Read input file as [DataFrame](https://pandas.pydata.org/docs/reference/frame.html) object**

In [2]:
# we can use read_csv method to create a pandas DataFrame from a csv file
?pd.read_csv

In [2]:
df = pd.read_csv('addresses.csv', names=['firstname','lastname','street','suburb','state','postcode']) # a DataFrame is created from the csv file and stored as df

**III: Perform operations on the DataFrame(Will be further explored next week)**

In [3]:
# we can inspect the DataFrame with head() method, which shows the first 5 rows of data
df.head()

,firstname,lastname,street,suburb,state,postcode
0,John,Doe,120 jefferson st.,Riverside,NJ,8075
1,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
2,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
3,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
4,NaN,Blankman,NaN,SomeTown,SD,298

In [4]:
# Showing statistics of categorical and numerical features
stat_df = df.describe(include='all')
stat_df

       firstname lastname             street    suburb state      postcode
count          5        6                  5         6     6      6.000000
unique         5        6                  5         4     5           NaN
top      Stephen      Jet  120 jefferson st.  SomeTown    NJ           NaN
freq           1        1                  1         2     2           NaN
mean         NaN      NaN                NaN       NaN   NaN  19487.333333
std          NaN      NaN                NaN       NaN   NaN  35380.155843
min          NaN      NaN                NaN       NaN   NaN    123.000000
25%          NaN      NaN                NaN       NaN   NaN   2242.250000
50%          NaN      NaN                NaN       NaN   NaN   8075.000000
75%          NaN      NaN                NaN       NaN   NaN   8858.000000
max          NaN      NaN                NaN       NaN   NaN  91234.000000

**IV: Export DataFrame to csv file**

In [20]:
# exporting the statistics to csv file
stat_df.to_csv('addresses_stats.csv')

<font color='red'>**Task**</font>: Let's write a script that reads `textfile.txt` and create a csv file `spider_man.csv` with 2 columns: `name` and `category` to store the name of the video and whether it is TV or Film respectively. Below is what the output csv will look like:

![image.png]()

Hint: Do we need to use pandas in this task?

In [21]:
with open('textfile.txt') as f:
    lines = f.readlines()

lines = [l.strip() for l in lines]
csv_output = 'name,category\n' # column name as first line
category = None
for line in lines:
    if line == 'TV':
        # if line is TV, that means 1. this line is not an item, 2. the following lines are TV items
        category = 'TV'
        continue
    elif line == 'Film':
        # if line is Film, that means 1. this line is not an item, 2. the following lines are Film items
        category = 'Film'
        continue
    # item lines
    if category:
        csv_output += ' '.join(line.split()[1:]) + ',' + category + '\n' # remove the index in front, add a comma, and the category

with open('spider_man.csv', 'w') as f: # dump the whole string to the csv file
    f.write(csv_output)

## Part B Testing and Exception Handling

In this part, we will face your biggest fear: **ERROR**, or something more terrifying: **ERROR NOT FOUND**. 

First, we will identify *some* common errors. Then, we will discuss how we can fix and handle the errors when we are programming.

![](https://static.wikia.nocookie.net/harrypotter/images/d/d7/Snape_boggart.gif/revision/latest?cb=20140416074637)

### Activity 1: Get to know what you fear

1. Run the code cell
2. read the error message and identify the error type
3. fix them.

<font color='red'>**Case 1: check 1 + 2 is equal to 3**</font>

In [18]:
1 + 2 = 3

SyntaxError: cannot assign to operator (<ipython-input-18-8ca2c3fac6f3>, line 1)

**Ans:** `=` should be `==`
```python
1 + 2 == 3
```

<font color='red'>**Case 2: try to join the items in the list with comma**</font>

In [11]:
print('\n'.join(['a','b','c','d']))

a
b
c
d

**Ans:** Imbalanced brakets, an extra bracket in front of `[`
```python
print(','.join(['a','b','c','d']))
```

Cases 1 and 2 are **SyntaxErrors**. Simply speaking, code with wrong grammar.



---

<font color='red'>**Case 3: printing 'a2'**</font>

In [ ]:
print('a' + 2)

**Ans:** addition between string and integer
```python
print('a' + '2')
```

This is an example of **TypeError**, where an operation is performed on an incorrect/unsupported object type. In this case, string concatenation with an integer.



---

<font color='red'>**Case 4: printing 'I have an apple I have a pen Apple Pen'**</font>

In [ ]:
print(I, have, an, apple, I, have, a, pen, Apple, Pen)

**Ans:** all arguments inside the print function are undefined variables instead of string.
```python
print('I', 'have', 'an', 'apple', 'I', 'have', 'a', 'pen', 'Apple', 'Pen')
```

This is known as **NameError**, where we are using a variable or function that is not recognised by the interpreter.



---

<font color='red'>**Case 5: printing 5 / i, where i is from 5 to 0**</font>

In [ ]:
for i in range(5,-1,-1):
    print(5/i)

**Ans:** we cannot divide a value by 0. We can simply remove/skip the divide by 0 case.

```python
for i in range(5,0,-1):
    print(5/i)
```

This is known as **ZeroDivisionError**, quite self-explanatory by its name.



---

<font color='red'>**Case 6: trying to get the numerical representation of the character 'a'**</font>

In [ ]:
print(int('a'))

**Ans:** 'a' cannot be converted to an integer. In order to get the numerical representation of 'a', we could use `ord()` function instead.

```python
print(ord('a'))
```

This is known as **ValueError**: 

- valid function, valid value with correct data type, but the function does not work on that value.



---

<font color='red'>**Case 7: trying to print the last item of the_list**</font>

In [ ]:
the_list = [1,2,3]
print(the_list[3])

**Ans:** The maximum index is 2 in this list. (index starts from 0)

```python
print(the_list[2])
```

This is known as **IndexError**, where we are trying to retrieve the item in a collective data type with an index out of the valid range.



---

<font color='red'>**Case 8: trying to get the score of a student**</font>

In [ ]:
class Student:
    def __init__(self, score):
        self.mark = score

stu = Student(80)
print(stu.score)

**Ans:** The score of student is stored in `self.mark` instance variable. `score` is not an attribute of the instance. We could get `stu.mark` instead.

```python
print(stu.mark)
```

This is known as **AttributeError**, which is raised when an attribute reference or assignment fails.



---


<font color='brown'>**There are many more errors that could exist in our scripts. You can explore further by reading the [documentation](https://docs.python.org/3/library/exceptions.html).**</font>

### Activity 2: Exception handling

In this activity, we will reuse some parts of the Contact and PhoneBook classes from week 7.

#### 2A. What could possibly go wrong?

The code cell below is the simple version of Contact class implementation. 

<font color='red'>**Question:**</font> Can you think of **what errors** could possibly be raised from the code? How can we **handle** this error in a better way?(Just the idea)

In [1]:
class Contact:
    def __init__(self, name, organisation, phones = []):
        self.name = name
        self.organisation = organisation
        self.phones = phones

    def add_phone(self,phone):
        if phone in self.phones:
            print("Phone number already exists!")
        else:
            self.phones.append(phone)
    
    def remove_phone(self, index):
        if index in range(0,len(self.phones)):
            del self.phones[index]
            return True
        else:
            print("Index out of range")
            return False

**Ans:** We are assuming `phones` must be a list when we implement all the methods. 

What will happen when we create a Contact instance with an integer as `phones`?

In [2]:
# creating a new Contact instance
c = Contact('test','FIT9136', 123456)

In [3]:
# adding a new phone number to c
c.add_phone(34567) # what is the error message?

TypeError: argument of type 'int' is not iterable

We can see a TypeError is raised when we call `add_phone` method because `self.phones` is not a list. 

When `phones` is not a list, we could have prevented the programmer to create the Contact instance by raising error.

In most time, it is a better idea to validate the variable values once they are created to avoid futher consequential error.

#### 2B. Identify the root cause of error

Now that we know the error caused can be traced back to assigning a value with the wrong data type to `self.phones`. 

We could validate the `phones` argument in the constructor method before assigning the value to the instance variable `self.phones`.

**I. We could raise an AssertionError with `assert` keyword following the syntax below:**
```python
assert <contition to be met>, "error message thrown otherwise"
```

**II. We could also raise a TypeError with `raise` keyword by:**
```python
raise TypeError('error message thrown')
```

Of course, there are many more ways to handle the situation, such as <font color='red'>**using if-else conditions, which may NOT raise any error**</font>. 

But first, let's try to implement the above ideas.

In [4]:
# Approach I: AssertionError
class ContactA:
    def __init__(self, name, organisation, phones = []):
        self.name = name
        self.organisation = organisation
        # raise assertion error is phones is not a list, implement here
        assert isinstance(phones,list), 'phones should be a list'
        self.phones = phones

In [5]:
# creating invalid ContactA instance
c1 = ContactA('a','b','c')

AssertionError: phones should be a list

In [6]:
# Approach II: TypeError
class ContactT:
    def __init__(self, name, organisation, phones = []):
        self.name = name
        self.organisation = organisation
        # raise type error if phones is not a list, implement here
        if not isinstance(phones,list):
            raise TypeError('phones should be a list')
        self.phones = phones

In [7]:
# creating invalid ContactT instance
c2 = ContactT('a','b','c')

TypeError: phones should be a list

<font color='red'>**Question:**</font> When to use `assert`, when to use `raise`? What are the differences between them?

`assert`: 
- will raise AssertionError.
- fast and easy, great for throwaway code or bench testing

`raise`: 
- will raise a specific type of error, e.g. TypeError, ValueError.
- specific, more helpful in debugging, especially when the project is large-scaled

### 2C. Catching the error

Sometimes, we don't want the program to end because of an error. In that scenario, we could "catch" the error by using `try` and `except` blocks:

```python
try:
    # some code that may raise error
except <the error type>:
    # the code to run after try when error is raised in try block
else:
    # the code to run after try when error is NOT raised in try block
finally:
    # the code to run anyway after try, except, else
```

Now, let's modify the code above. Instead of raising the error and stopping the program, we can catch the error and assign an empty list to `self.phones` if error is raised.

In [12]:
# Approach I: AssertionError
class ContactA:
    def __init__(self, name, organisation, phones = []):
        self.name = name
        self.organisation = organisation
        try:
            # raise assertion error is phones is not a list
            assert isinstance(phones,list), 'phones should be a list'
            self.phones = phones
        except AssertionError as e:
            print(e) # error message is stored as variable e
            # assign empty list to self.phones
            self.phones = []

In [13]:
# creating invalid ContactA instance
c1 = ContactA('a','b','c')

phones should be a list

In [14]:
# Approach II: TypeError
class ContactT:
    def __init__(self, name, organisation, phones = []):
        self.name = name
        self.organisation = organisation
        try:
            # raise type error if phones is not a list
            if not isinstance(phones,list):
                raise TypeError('phones should be a list')
            self.phones = phones
        except TypeError:
            # assign empty list to self.phones
            self.phones = []

In [15]:
# creating invalid ContactT instance
c2 = ContactT('a','b','c')

Sometimes we want to handle different error in different ways. 

When we raise AssertionError in all scenario, we would not be able to do that easily. This is a good example showing why errors should be specific.

<font color='red'>**Task:**</font> Let's write a function `calc_bmi():` that asks user to input his/her weight(kg) and height(m) one by one and prints out the BMI of the user. The Body Mass Index(BMI) can be calculated by the following formula:

<small>$BMI = \frac{weight}{height^{2}}$</small>

- The user input is expected to be a float number. 
- If the user input is not a float number, the function will print "Invalid input."
- If the height is 0, the function will print "Height cannot be zero."
- No matter the user inputs are valid or not, the function will print out "End." at last.

In [13]:
def calc_bmi():
    """
    Calculates BMI from user input of weight and height
    """
    weight = input('Please enter weight in kg: ')
    height = input('Please enter height in m: ')
    try:
        bmi = float(weight) / (float(height) ** 2)
    except ValueError:
        print('Invalid input.')
    except ZeroDivisionError:
        print('Height cannot be zero.')
    else:
        print(f'Your bmi is {bmi:.2f}')
    finally:
        print('End.')

In [17]:
calc_bmi()

Please enter weight in kg: qa
Please enter height in m: s
Invalid input.
End.

In [15]:
calc_bmi()

Please enter weight in kg: 77.6
Please enter height in m: 2
Your bmi is 19.40
End.

In [ ]:
calc_bmi()

Please enter weight in kg: 68.9
Please enter height in m: 1.75
Your bmi is 22.50
End.

<font size='4em'><b>NEXT WEEK</b></font> we will explore several python packages, such as:
- [re](https://docs.python.org/3/library/re.html) (regular expression)
- [pandas](https://pandas.pydata.org/docs/user_guide/10min.html)
- [matplotlib](https://matplotlib.org/stable/tutorials/index.html)
- [numpy](https://numpy.org/numpy-tutorials/)

Feel free to have a look first. You may think about the following questions:
- What can we do with this package?
- When will we need to use this package? Is it always helpful?
- How can we use the functions in this package?


Stay tuned!

## Exercise

### 1. Try-Except

Below is a simplified implementation of Contact class from last week. Please identify all possible errors and use try-except blocks to raise and catch the errors.

In [1]:
class Contact:
    def __init__(self, name, organisation, phones = []):
        """
        Construct all attributes of the instance. (No need to modify this part)
        """
        try:
            if not isinstance(name,str):
                raise TypeError('name should be a string!')
            self.name = name
        except TypeError as e:
            print(e)
            self.name = ''
        
        try:
            if not isinstance(organisation,str):
                raise TypeError('organisation should be a string!')
            self.organisation = organisation
        except TypeError as e:
            print(e)
            self.organisation = ''
        
        try:
            if not isinstance(phones,list):
                raise TypeError('phones should be a list of string!')
            self.phones = [p for p in phones if self.validate_phone(p)]
        except TypeError as e:
            print(e)
            self.phones = []

    def validate_phone(self, num):
        """
        A method to validate phone number. (No need to modify this part)
        Args:
            1. num: the phone number needs to be validated
        Returns:
            bool: whether num is a valid phone number
        """
        return isinstance(num,str) and len(num) in range(10,15) and num.isdigit()
        
        
    def match_name(self, substr):
        """
        See if the name starts with substr(case-insensitive)
        Args:
            1. substr(str): the string to test whether name is starting with
        Returns:
            bool: whether self.name is starting with substr
        """
        try:
            if self.name.lower().startswith(substr.lower()):
                return True
            else:
                return False
        except:
            # we want to return False if any error is raised
            return False
          
    def update_phone(self, index, new_phone):
        """
        Update the phone number in at certain index.
        Args:
            1. index(int): the index of the phone list that needs update
            2. new_phone(str): the new phone number value
        """
        try:
            assert self.validate_phone(new_phone), 'Invalid phone number.'
            self.phones[index] = new_phone
        except IndexError:
            print('Index out of range.')
        except TypeError:
            print('Index should be an integer.')
        except AssertionError as e:
            print(e)
     
    def __str__(self):
        """
        Usage:
            str(self)
        Returns:
            str: the string representation of the instance 
        """
        formatted_str = """Name: {}
Organisation: {}
Phone Number(s):
{}"""
        return formatted_str.format(self.name, self.organisation, '\n'.join(self.phones))
      
      
    def __eq__(self, other):
        """
        Compares the name and organisation between two Contact instances and see if they are equal
        Usage:
            self == other
        Returns:
            bool: whether the name and organisation of two Contact instances are equal
        """
        try:
            if not isinstance(other, Contact):
                raise TypeError('Incomparable data types.')
        except TypeError as e:
            print(e)
            return False
        else:
            return self.name.lower() + self.organisation.lower() == other.name.lower() + other.organisation.lower()
      
    def __lt__(self, other):
        """
        Compares the name and organisation between two Contact instances based on the lexicographic order and see if the name and organisation of self is ordered in front of other
        Usage:
            self < other
        Returns:
            bool: whether the name and organisation of self has a higher order than (in front of) other
        """
        try:
            if not isinstance(other, Contact):
                raise TypeError('Incomparable data types.')
        except TypeError as e:
            print(e)
            return False
        else:
            return self.name.lower() + self.organisation.lower() < other.name.lower() + other.organisation.lower()
        
    def __gt__(self, other):
        """
        Compares the name and organisation between two Contact instances based on the lexicographic order and see if the name and organisation of self is ordered after other
        Usage:
            self < other
        Returns:
            bool: whether the name and organisation of self has a lower order than (after) other
        """
        try:
            if not isinstance(other, Contact):
                raise TypeError('Incomparable data types.')
        except TypeError as e:
            print(e)
            return False
        else:
            return self.name.lower() + self.organisation.lower() > other.name.lower() + other.organisation.lower()

Not a very elegant solution, but this is not a bad exercise of try-except

Test examples

In [2]:
c1 = Contact(1,2,3)
print(repr(c1.name), repr(c1.organisation), repr(c1.phones), sep=', ')

name should be a string!
organisation should be a string!
phones should be a list of string!
'', '', []

In [3]:
c1.update_phone(1,123456)
c1.update_phone(1,'1234567890')

Invalid phone number.
Index out of range.

In [4]:
print(c1 < '3')

Incomparable data types.
False

### 2. insert_dictionary

Write a function `insert_dictionary():` which accepts 3 arguments:

* a_dictionary: a dictionary

* a_key: a string

* a_value: an integer

The function adds the key-value pair({a_key: a_value}) to a_dictionary.

* If the key is present in the dictionary, do not update the value. Instead print "Key present".

* Furthermore, if any of the parameters are not valid, the function should raise an exception and show an appropriate message.

You may apply any kind of error handling techniques learnt so far.

In [ ]:
#Write your code here
def insert_dictionary(a_dictionary, a_key, a_value):
    if not(type(a_dictionary) is dict):
        raise TypeError("a_dictionary isn't a dictionary")
    if not(type(a_key) is str):
        raise TypeError("a_key isn't a string")
    if not(type(a_value) is int):
        raise TypeError("a_value isn't an integer")
    if (a_key in a_dictionary):
        print('Key present')
    else:
        a_dictionary[a_key] = a_value
        
#This code has the minimum error handling based on the questions requirments. You can try to add more validation into the code.