# FIT9136 Week 2 Lab Activities (Solution)

<small>\#AtomicDataTypes \#Operations \#Variables \#Documentation \#SystemIO \#DataTypeConversion</small>

In [ ]:
print('Hello Human! Welcome to the \u001b[40m\033[1;33mPython Universe\u001b[0m.')

Hello Human! Welcome to the Python Universe.

Welcome to the world of Python, where **everything is an object**. The objects in Python are similar to the human world. They have their unique features (**values/variables**) and actions (**methods/operations**). Most importantly, every object in Python universe has an **identity**. Now let's explore this amazing world.

## 1. Atomic Data types
Now, let's meet the three primary elements(**Atomic Datatype**) in Python.

In [ ]:
type(1), type(0.1), type(True)

They are integer, float and boolean. From the example above:
- `1` is an integer, 
- `0.1` is a float, 
- `True` is a boolean, which can represent the result of a logical condition.

And of course, they have their identities. <br>To see their identities, we will use the function named `id()`, which will give us the physical memory location.

In [ ]:
print('id of integer 1 is', id(1))

In [ ]:
print('id of float 0.1 is', id(0.1))

In [ ]:
print('id of boolean True is', id(True))

Now, let's see what they can do.

There are three main operations in Python, namely:
1. arithmetic operation
2. comparison operation
3. logical operation

### 1.1 Arithmetic Operations

Arithmetic operation gives us a **numeric value** from various mathemetical calculations between the numeric elements in the equation.

In [ ]:
1 + 1 # arithmetic operations between integers will give you an integer

In [ ]:
1. + 1 # arithmetic operations between integer and float will give you what?

In [ ]:
True + True # How about arithmetic operations between booleans?

More about arithmetic operations, please have a look at the [documentation](https://www.w3schools.com/python/python_operators.asp).

### 1.2 Comparison operations

Comparison operations give us **boolean** values by comparing the values on the left side and right side.

In [ ]:
1 < 1 # is 1 smaller than 1?

In [ ]:
1. == 1. # is 1.0 equals 1.0

In [ ]:
1. >= 1 # is 1.0 larger than or equals 1?

In [ ]:
True == 1 # What is the numerical value of True?

It might look ridiculous at the moment. 
<br>**Why do we need to compare values here?**

Because, while writing the algorithms/code, we need to compare variables with each other, and the values can change in different conditions. For example, if we want to check the rainfall for today is less than 0.05, then the comparison operation will come in handy. The expression is written as **` rainfall < 0.05`**, where rainfall is a variable.

It seems that **Comparison Operation** is flawless, but it is not. It does have [Limitation](https://docs.python.org/3.3/tutorial/floatingpoint.html). Let's have a look at below example:

`1.1 + 2.2 == 3.3` is it true?

In [ ]:
1.1 + 2.2 == 3.3

Apart from numerical comparison operators, there is another operator called `is`. It compares the **id** of two objects. <br>What will the following operations give us?

In [ ]:
1 is 1.0

In [ ]:
0 is 0

In [ ]:
True is 1

The results could be explained by checking the ids of the variables.

In [ ]:
id(1), id(1.0)

In [ ]:
id(True), id(1)

### 1.3 Logical operations

Let's have a look at the logical tables:


<table>
<tr>
<td>
<table>
<tr><td><h5><b><font color='red'>and</font></b></h5></td><td><b>True</b></td><td><b>False</b></td></tr>
<tr><td><b>True</b></td><td>True</td><td>False</td></tr>
<tr><td><b>False</b></td><td>False</td><td>False</td></tr>
</table>
</td>
<td> </td>
<td>
<table>
<tr><td><h5><b><font color='red'>or</font></b></h5></td><td><b>True</b></td><td><b>False</b></td></tr>
<tr><td><b>True</b></td><td>True</td><td>True</td></tr>
<tr><td><b>False</b></td><td>True</td><td>False</td></tr>
</table>
</td>
</tr>
</table>

We can see: 
1. `False` will be returned if any one of the conditions is `False` under the **<font color='red'>and</font>** condition.
2. `True` will be returned if any one of the conditions is `True` under **<font color='red'>or</font>** condition.

Let's try to think what will be returned in the following conditions. Are they `True` or `False`?

In [ ]:
True and True and False

In [ ]:
True or False and True

In [ ]:
True and False or True

The evaluation of conditions are actually considered **from left to right**. (Conditions within the innermost brackets are considered first). However, [`and` has a higher precedence than `or`](https://docs.python.org/3/reference/expressions.html#operator-precedence).

1. `True and True and False` → `(True and True) and False` → `True and False` → `False`
2. `True or False and True` → `True or (False and True)` → `True or False` → `True`
3. `True and False or True` → `(True and False) or True` → `False or True` → `True`

In [ ]:
from IPython.display import Image
print('Image source: https://gifer.com/en/gifs/pacman')
display(Image(url='https://i.gifer.com/origin/12/12d043d53cb8adeb6bd5dca9df506278_w200.gif'))
print('Logical conditions are evaluated from left to right.')

Image source: https://gifer.com/en/gifs/pacman

Logical conditions are evaluated from left to right.

Here are some other practices, are they `True` or `False`?

In [ ]:
True and (True or False) and True

In [ ]:
True or False and False

In [ ]:
False or False or True

You think that's it for the logical operators? Then, you might be a bit too naive. 😂 There's another operator called `not`. Well, it changes `True` to `False` and vice versa. More importantly, it is always evaluated before `and` and `or` on the same logical level. Let's try it!

In [ ]:
True or False and not False

In [ ]:
not (True or False)

In [ ]:
True and not False or False

How it works?
1. `True or False and not False` → `True or (False and (not False))` → `True or False` → `True`
2. `not (True or False)` → `not (True)` → `False`
3. `True and not False or False` → `(True and (not False)) or False` →  `True  or False` → `True`

Next comes the tricky part. Actually, every data types have their own `boolean` values. `False` is always associated with the concept of **nothing** or `None`. For example, boolean value of `0` is `False`. We can retrieve the boolean value of any built-in objects by using `bool()` function.

In [ ]:
bool(0)

In [ ]:
bool(0.0)

Now, let's integrate this concept to the logical operators. Consider the following examples, let's guess the results!

In [ ]:
0 and 5 and False

In [ ]:
False or 5 or 0.0

In [ ]:
0 or 5 and 10 or 2

Guess them right?

From the examples, we can see:
1. under `or` conditions, it will return the first value that represents `True` or the last value that represents `False` if all conditions are `False`
2. under `and` conditions, it will return the first value that represents `False` or the last value that represents `True` if all conditions are `True`

Now, let's try more examples. Try to think what will be the results.

In [ ]:
4 and False or (0 and 5.5) or (3 and 0.0)

In [ ]:
10 and 5 and 3 and 1

In [ ]:
-4 < 5 and 10.5 + 3 or 4

```
* 4 and False or (0 and 5.5) or (3 and 0.0) 
    * (4 and False) or 0 or 0.0 
    * False or 0 or 0.0 
    * 0.0
* 10 and 5 and 3 and 1 
    * 5 and 3 and 1  
    * 3 and 1 
    * 1
* -4 < 5 and 10.5 + 3 or 4 
    * (True and 13.5) or 4 
    * 13.5 or 4 
    * 13.5
```

Oh! By the way, there is an order between the three types of operators. The precedence is:

1. Arithmetic operator
2. Comparison operator
3. Logical opertor

## 2. Variables

Variable is a very important component in programming. **Not only in Python, but in programming.**

Sometimes, we want to evaluate something and we want to **reuse** the value. Intuitively, we have to store the value somewhere so that we can get the value back when we need to use it.

However, how can we store the values in Python?

### 2.1 Variable assignment

It is simpler than you think, we just need a `=` operator.

In [ ]:
a_number = 1

In the example above, we have just created a new *variable* called `a_number` that stores `1` as the value. <br>Now, lets access the value of the variable.

In [ ]:
a_number

But to be honest, you are somehow curious about how it works, aren't you? 

Actually, `a_number` is not a value. It is a *variable/object* (changed from pointer) that points to where `1` is located in the memory. 
<br>How to proof it? Let's compare the ids of `a_number` and `1`! `(Combined and modified)`

In [ ]:
id(a_number), id(1)

Now, we can see the ids of `a_number` and `1` are the same.

### 2.2 Variable naming

Naming a variable is an art, just like how your name is created. Do we want to name something meaningless? Give some respect to the variables! So, try to give variables a meaningful names.

**Moreover, there are two main formats we have to follow for variable naming:**
1. camelCase
2. under_score

Let's try to name some variables.

In [ ]:
# name of a student
student_name, studentName
# name of a tutor
tutor_name, tutorName
# youtube channel name
yt_channel, ytChannel
# product serial number
serial_num, serialNum
# sum of 2 numbers
the_sum, theSum

There is another important rule of variable naming: 

**If the name is already been used (to store another value or define a function), than don't use it.**

For example, the built-in function names, such as `len`, `sorted`, `sum`.

## 3. Comments

Everyone thinks their codes are the best. I have never doubted that. <br>However, wouldn't it be better when other people, and yourself maybe, can understand your code easily too?

In [ ]:
# This is an inline-comment. It starts with a '#'
# An inline comment is used to explain the high-level logic of one or several lines of code.
# It can be placed on top of the code that it is explaining, or right after the code on the same line.

In [ ]:
"""
This is a comment block. It starts and ends with triple double-quotes.
Comment block can be used to describe the script, or act as docstring of functions or methods.
It describes the purpose, high-level logic and usage of scripts/functions/methods.
"""

## 4. System inputs and outputs

Simply speaking, `input()` and `print()`.

### 4.1 `input()` function

It prompts user input and return it as a `string` object.

However, how can we use input() function? Let's try `?` helper function.

In [ ]:
?input # What does it say?

Now, we know `input()` function takes one keyword argument `prompt`, which is the string that will be displayed when asking for user input.

In [ ]:
input('Please type in something. ')

### 4.2 `print()` function

Now, what about print() function?

In [ ]:
?print

```
Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
```

Let's try it!

In [ ]:
print('something','else')

## 5. Type conversion between atomic datatypes

Since different datatypes have different operations and properties, sometimes we have to convert the datatype of variables.

### 5.1 Convert to integer
`int()`

In [ ]:
?int

```
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
```

In [ ]:
int(True), int('123'), int(12.34) # converts boolean, string and float to integer

### 5.2 Convert to float

`float()`

In [ ]:
?float

In [ ]:
float(True), float('123'), float(123) # converts boolean, string and integer to float

### 5.3 Convert to boolean

`bool()`

In [ ]:
?bool

In [ ]:
bool('123'), bool(123), bool(12.34) # converts string, integer and float to boolean

## 6. Small summary

Summing up, today we have learnt:
1. Atomic data types (integer, float, boolean)
2. Variables assignment and naming
3. Documentation/commenting (in-line, block)
4. System input and output (`input()`, `print()`)
5. Data type conversions between atomic data types and string


---


Now, let's integrate all the concepts together.

## In-class task 1: Km to Miles Conversion

Write a code to **get the user input** of a numeric value in kilometers and **print out** its value in miles.

The formula that converts between km and miles is as follows:

* $miles = km * 0.62137$

In [ ]:
km = input('Please enter a value in km: ') # ask for user input and store it into a variable km
km = float(km) # convert the input into float, because we will perform arithmetic operation on numbers
miles = km * 0.62137 # metric conversion
print(km,'km equals',miles,'miles.') # finally, gather all information we want and print them out in desired format

## In-class task 2: Divisible?

Write a code that asks the user to type two integers separately(`num1` and `num2`) and then print out whether `num1` is divisible by `num2`. (Hint: We can use the concept of the remainder)

In [ ]:
num1 = input('Please enter the first integer: ') # ask for the first integer
num2 = input('Please enter the second integer: ') # ask for the second integer
num1, num2 = int(num1), int(num2) # convert the two inputs from strings to integers(in a pythonic way)
is_divisible = num1 % num2 == 0 # evaulate whether the remainder of num1 divided by num2 equals 0 and store it to is_divisible variable
print('num1 disible by num2?', is_divisible) # print out the information we want

## Exercise

Now, try to add comments in the code.

*You only need to use the techniques learnt in this notebook to complete the tasks*

### Task A: Temperature conversion

Write a code that asks the user to type a number as the temperature in the Kelvin scale and then print out the temperature in the Fahrenheit scale.

The conversion equation is as follows:

* $Fahrenheit = (Kelvin − 273.15) × \frac{9}{5} + 32$

In [ ]:
kelvin = input('Please enter temperature in Kelvin scale: ') # ask for user input of temperature in Kelvin scale
kelvin = float(kelvin) # convert the input to float
fahrenheit = (kelvin - 273.15) * 9 / 5 + 32 # convert Kelvin to Fahrenheit
print(kelvin, 'Kelvin equals', fahrenheit, 'Fahrenheit.') # print out the conversion information

### Task B: Is that a right-angled triangle?

Write a code that asks the user to type three numbers separately, which are the length of the sides of the triangles, respectively. And print out whether the triangle is right-angled or not. (Hint: Pythagoras theorem and logical conditions)

In [ ]:
# obtain user input for the lenghts of sides of the triangle
side1 = input('Please enter the length of the first side: ')
side2 = input('Please enter the length of the second side: ')
side3 = input('Please enter the length of the third side: ')
side1, side2, side3 = float(side1), float(side2), float(side3) # convert the user inputs into floats
# using Pythagoras theorem to check whether the triangle is right-angled
is_right_angled = side1 ** 2 + side2 ** 2 == side3 ** 2 or side1 ** 2 + side3 ** 2 == side2 ** 2 or side3 ** 2 + side2 ** 2 == side1 ** 2 
print("Right-angled triangle:",is_right_angled) # print out our evaluation result

### Task C: Logic

Solve the following logical expressions **with steps**.

```
1. 3.5 + 12 or True and False or 19 and 0
2. 0.0 == 0 and True and (False or 3)
3. 13 - 9 > 4 and 1 is 1
```

```
1. 3.5 + 12 or True and False or 19 and 0 
    * 15.5 or (True and False) or (19 and 0)
    * 15.5 or False or 0 
    * 15.5
2. 0.0 == 0 and True and (False or 3) 
    * True and True and 3 
    * 3
3. 13 - 9 > 4 and 1 is 1 
    * False and True 
    * False
```